/*
Colors used
Primary Color (Yellow): #FFFF00;
*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 21px; /* Sets the font size to 16px */
  line-height: 1.6; /* Sets the line-height to 1.6 */
  font-weight:300;
  color:#333333;
}

h1 {
  font-size: 2.5em;
  font-weight:700;
  text-align:center;
  margin-top:0;
  padding-top:0.67em;
}

h2 {
  font-size: 2.0em;
  font-weight:700;
  text-align:center;
  margin-top:0;
  padding-top:0.83em;
}

h3 {
  font-size: 1.5em;
  font-weight:700;
}

h4 {
  font-size: 1.0em;
  font-weight:700;
}

a {
  color: #000000;

}

a:visited {
  /* visited link */
  color: #000000;
}

a:hover,
a:focus {
  text-decoration: none; /* No underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #333333;
}

.button {
  /* overwrite browser defaults */
  border: none; /* reset the border */
  font-family: inherit; /* takes the font from the outer container */
  display:inline-block;

  /* style button */
  background-color: #FFFF00;
  color: black !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000000; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8; /* Reduces the opactiy of the button to 80% */
}

img{
  width:100%;
}

/*header
============================= */
header{
  background-color:#FFCC00;
}

nav {
  float:right;
  margin-top:47px;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 30px;

}

.logo{
  padding-top:10px;
  width:200px;
}

/*layout columns and row
============================= */
.wrapper{
  max-width:1200px;
  margin:0 auto; /*apply to all side*/
  padding:0 20px; /*apply to inner space*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding:15px;
}

.col-lg-6{
    width:50%;
}

#hero{
  background-color:#FFCC00;
  padding: 20px 0 50px;
}

/*footer
============================= */
footer{
  background-color:#333333;
  text-align:center;
  color:#ffffff;
}

footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin: 30px 30px 10px;
}

footer ul li a, footer ul li a:visited{
  color:#FFFFFF;
  }

footer ul li a: active{
  color:#FFCC00;
}

footer .fab{
  font-size:30px;
}

.copyright{
  font-size: 13px;
  margin-bottom:0;
  padding-bottom:15px;
}

/*Media Queries
============================= */
@media only screen and (max-width: 1024px) {
    /* For tablets: */
    body{
      font-size:18px;
    }
    #work h3{
      margin-top:0;
    }
  }
@media only screen and (max-width: 767px) {
    /* For iphone: */
    body{
      font-size:16px;
    }

    h1{
      line-height: 1.2;
    }

    /*header
    ============================= */
    header{
      text-align=center;
    }

    nav{
      margin-top:12px;
      float:0;
      padding-bottom;15px;
    }

    nav ul{
      margin:0 15px;
    }

    nav ul li{
      margin: 0 15px;
    }
    /*layout and column
    ============================= */
    .col-s-12{
      width:100%;
    }

    [class*="col-"] {
        padding:15px 0;
}
